{% extends 'template.html' %}

{%block head%}
<title>Home</title>
{%endblock%}

{%block body%}
<br>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to Masterpiece Ltd.</p>
            <br>
            <br>
            <p>Masterpieces Ltd is a company specializing in Paintings. Offering wide range of services and options in hiring paintings and artifacts to private individuals, commercial companies and organizations. Customers have the choice of requesting the paintings and artifacts from a particular artist or a particular theme</p>
            <br>
            <p>Our main focus is to deliver authentic paintings, providing them the service and maintenance required for the paintings and artifacts and to provide 100% customer satisfaction</p>
            <p>
                <a class="btn btn-primary" href="/customer" role="button">Continue &raquo;</a>
            </p>
        </div>
    </div>
    
</main>
   
{%endblock%}